html{
    background-color: #00539f;
}

body{
    width:600px;
    margin:0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px ;     
    border: 10px solid black;
}
/* 
    margin: top bottom, left right
    padding top, right, bottom, left 
*/

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}
/*
    text-shadow : horizontal, vertical, blur radius;
*/
 
p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    background-image: url("images/dinosaur.jpg");
}

span.test {
    border:1px solid black;
    background-color:lime;
    
    color:black;
    color: red;
    color:#090;
    color: rgba(25 25 25 / 50%);
    font-weight: bold;
    font-size:1.2rem;
    font-style: italic;
    font-family: Times, "Times New Roman", Georgia, serif;
}

span.highlight {
    background-color: yellow;
}

li[class] {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

li[class="a"] {
    background-color: yellow;
}

li[class~="a"] {
    color: red;
}


img {
    display: block;
    margin: 0 auto;
  }

  
  